
					<div class="portlet box portlet-green">
						<div class="portlet-header">
						<div class="caption">Informazioni personali</div>
						<div class="actions"><a href="#" class="btn btn-sm btn-white"><i class="fa fa-edit"></i>&nbsp;
                                    Edit</a>&nbsp;<a href="#" class="btn btn-sm btn-white"><i class="fa fa-user"></i>&nbsp;
                                    User</a>
						</div>
					</div>
					<div class="portlet-body"><form role="form" class="form-horizontal form-separated"><div class="form-body"					<div class="form-group form-inline">
									<label class="col-md-3 control-label">nome</label>
									<div class="col-md-9">
										<input class="form-control" value="piero">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div><div class="form-group form-inline">
									<label class="col-md-3 control-label">indirizzo</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div><div class="form-group form-inline">
									<label class="col-md-3 control-label">telefono</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div><div class="form-group form-inline">
									<label class="col-md-3 control-label">mail</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div><div class="form-group form-inline">
									<label class="col-md-3 control-label">www</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div></div></form></div></div>
					<div class="portlet box portlet-green">
						<div class="portlet-header">
						<div class="caption">competenze personali</div>
						<div class="actions"><a href="#" class="btn btn-sm btn-white"><i class="fa fa-edit"></i>&nbsp;
                                    Edit</a>&nbsp;<a href="#" class="btn btn-sm btn-white"><i class="fa fa-user"></i>&nbsp;
                                    User</a>
						</div>
					</div>
					<div class="portlet-body"><form role="form" class="form-horizontal form-separated"><div class="form-body"<div class="form-group form-inline">
									<label class="col-md-3 control-label">capacita comunicativa</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div><div class="form-group form-inline">
									<label class="col-md-3 control-label">capacita organizzative</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div><div class="form-group form-inline">
									<label class="col-md-3 control-label">competenze professionali</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div><div class="form-group form-inline">
									<label class="col-md-3 control-label">competenze digitali</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div><div class="form-group form-inline">
									<label class="col-md-3 control-label">altre competenze</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div><div class="form-group form-inline">
									<label class="col-md-3 control-label">patente guida</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div></div></form></div></div>
					<div class="portlet box portlet-green">
						<div class="portlet-header">
						<div class="caption">istruzione e formazione</div>
						<div class="actions"><a href="#" class="btn btn-sm btn-white"><i class="fa fa-edit"></i>&nbsp;
                                    Edit</a>&nbsp;<a href="#" class="btn btn-sm btn-white"><i class="fa fa-user"></i>&nbsp;
                                    User</a>
						</div>
					</div>
					<div class="portlet-body"><form role="form" class="form-horizontal form-separated"><div class="form-body"<div class="form-group form-inline">
									<label class="col-md-3 control-label">data</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div><div class="form-group form-inline">
									<label class="col-md-3 control-label">titolo</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div><div class="form-group form-inline">
									<label class="col-md-3 control-label">sede</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div><div class="form-group form-inline">
									<label class="col-md-3 control-label">competenze aquisite</label>
									<div class="col-md-9">
										<input class="form-control" value="-">
										<span class="text-warning mts help-block-right">dsf fddsf dfsf gfsdgsd gfgfgd</span>
									</div>
								</div></div></form></div></div>