12informazioni<div class="portlet box portlet-green"><div class="portlet-header"><div class="caption">Informazioni personali</div>
				<div class="actions"><a href="#" class="btn btn-sm btn-white"><i class="fa fa-edit"></i>&nbsp;
        Edit</a>&nbsp;<a href="#" class="btn btn-sm btn-white"><i class="fa fa-user"></i>&nbsp;
        User</a></div></div><div class="portlet-body"><form role="form" class="form-horizontal form-separated" id="formCV0"><div class="form-body"><div class="form-group form-inline"><label class="col-md-3 control-label">nome</label>
								<div class="col-md-9"><input class="form-control mrl" value="Giuseppe" name="ip_name"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">indirizzo</label>
								<div class="col-md-9"><input class="form-control mrl" value="gorizia" name="ip_address"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">telefono</label>
								<div class="col-md-9"><input class="form-control mrl" value="333333333" name="ip_tel"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">mail</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="ip_mail"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">www</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="ip_www"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div></form><div id="cv_update" name="submitForm" class="btn btn-success btn-lg btn-block">Fatto</div></div><div class="portlet box portlet-green"><div class="portlet-header"><div class="caption">competenze personali</div>
				<div class="actions"><a href="#" class="btn btn-sm btn-white"><i class="fa fa-edit"></i>&nbsp;
        Edit</a>&nbsp;<a href="#" class="btn btn-sm btn-white"><i class="fa fa-user"></i>&nbsp;
        User</a></div></div><div class="portlet-body"><form role="form" class="form-horizontal form-separated" id="formCV1"><div class="form-body"><div class="form-group form-inline"><label class="col-md-3 control-label">capacita comunicativa</label>
								<div class="col-md-9"><input class="form-control mrl" value="muto" name="cp_c_comunicative"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">capacita organizzative</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="cp_c_org"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">competenze professionali</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="cp_c_professionali"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">competenze digitali</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="cp_c_digit"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">altre competenze</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="cp_altro"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">patente guida</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="cp_patente"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div></form><div id="cv_update" name="submitForm" class="btn btn-success btn-lg btn-block">Fatto</div></div><div class="portlet box portlet-green"><div class="portlet-header"><div class="caption">istruzione e formazione</div>
				<div class="actions"><a href="#" class="btn btn-sm btn-white"><i class="fa fa-edit"></i>&nbsp;
        Edit</a>&nbsp;<a href="#" class="btn btn-sm btn-white"><i class="fa fa-user"></i>&nbsp;
        User</a></div></div><div class="portlet-body"><form role="form" class="form-horizontal form-separated" id="formCV2"><div class="form-body"><div class="form-group form-inline"><label class="col-md-3 control-label">data</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="if_data_range"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">titolo</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="if_titolo"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">sede</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="if_sede"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">competenze aquisite</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="if_competenze"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div></form><div id="cv_update" name="submitForm" class="btn btn-success btn-lg btn-block">Fatto</div></div><div class="portlet box portlet-green"><div class="portlet-header"><div class="caption">esperienza professionale</div>
				<div class="actions"><a href="#" class="btn btn-sm btn-white"><i class="fa fa-edit"></i>&nbsp;
        Edit</a>&nbsp;<a href="#" class="btn btn-sm btn-white"><i class="fa fa-user"></i>&nbsp;
        User</a></div></div><div class="portlet-body"><form role="form" class="form-horizontal form-separated" id="formCV3"><div class="form-body"><div class="form-group form-inline"><label class="col-md-3 control-label">data</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="ep_data_range"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">occupazione</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="ep_occupazione"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">sede</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="ep_sede"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div><div class="form-group form-inline"><label class="col-md-3 control-label">ruolo</label>
								<div class="col-md-9"><input class="form-control mrl" value="-" name="ep_ruolo"/>
								<span class="text-warning mts help-block-right">Help block on the right</span></div></div></form><div id="cv_update" name="submitForm" class="btn btn-success btn-lg btn-block">Fatto</div></div><div class="portlet box portlet-green"><div class="portlet-header"><div class="caption">ulteriori informazioni</div>
				<div class="actions"><a href="#" class="btn btn-sm btn-white"><i class="fa fa-edit"></i>&nbsp;
        Edit</a>&nbsp;<a href="#" class="btn btn-sm btn-white"><i class="fa fa-user"></i>&nbsp;
        User</a></div></div><div class="portlet-body"><form role="form" class="form-horizontal form-separated" id="formCV4"><div class="form-body"></form><div id="cv_update" name="submitForm" class="btn btn-success btn-lg btn-block">Fatto</div></div><div class="portlet box portlet-green"><div class="portlet-header"><div class="caption">allegati</div>
				<div class="actions"><a href="#" class="btn btn-sm btn-white"><i class="fa fa-edit"></i>&nbsp;
        Edit</a>&nbsp;<a href="#" class="btn btn-sm btn-white"><i class="fa fa-user"></i>&nbsp;
        User</a></div></div><div class="portlet-body"><form role="form" class="form-horizontal form-separated" id="formCV5"><div class="form-body"></form><div id="cv_update" name="submitForm" class="btn btn-success btn-lg btn-block">Fatto</div></div>
